:root {
    --background: white;
    --foreground: foreground;
    --accent-active:rgb(0, 60, 190);
    --accent-focus: rgb(60, 180, 255);
    --accent-neutral: rgb(40, 140, 255);
    --accent-error: red;
}

a {
    color: var(--accent-neutral);
    text-decoration: none;
}
a:active, a.active {
    color: var(--accent-active);
}
a:hover {
    color: var(--accent-focus);
}
